# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# Logs
logs/

# Generated outputs
outputs/
reports/
datasets/raw/
datasets/processed/
datasets/app_files/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp